<!DOCTYPE html>
<html>
    <body>
        <h1>Story time</h1>
        <br>
        <blockquote>back when I was in high school, I would drive to 
        this hospital in Crowne Point, Indiana called SMI (<i>Sports Medical Institute</i>).
        I would drive about 1 hour there and back on a daily basis. When I would
        come home, I would drive to the library and study HTML, CSS, JS, PHP books by 
        Jon Duckett. I would create all sorts of website and design then using CSS and
        learn to make them more interactive using JS. I loved those days, I enjoyed every moment 
        of playing basketball and coming home to learning about web development. </blockquote>
        <br>
        <h2>Fast Forward</h2>
        <br> 
        <p>Fast forward now to the year 2025. I am now integrating C++ with my long lost friend of 
        HTML web development. This feels so familiar, and refreshing to see everything tied
        right back into one another.</p>
        <br>
        <p>My true passion lies within C++. This is the language I want to be developing on
        for many many years to come. I do often use Python for various use cases, but for 
        algorithmic trading, computational financial designing and all things trading,
        I would be using C++ (with a bit of big data computation using Python! ;))</p>
    </body>
</html>